# Student Activity: Financial Forecasting

In this activity, Harold's manager wants Harold to take a look at one year's worth of `TSLA` stock prices and plot a potential stock trajectory for where `TSLA` stock prices could go in the next `3` years. In addition, he would like to know how a $10,000 investment would perform given the simulated results.

Help Harold by creating a Monte Carlo simulation that simulates the next `252 * 3` trading days using three years worth of `TSLA` stock data. Plot the simulated results of `TSLA` daily returns over the next `3` years as well as the corresponding simulated outcomes.

In [1]:
# Import libraries and dependencies
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

#suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")


api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

### Get 3 Years Worth of Data via API Call and Read in as DataFrame

In [3]:
# Set the ticker
ticker = "TSLA"

# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 3 years from Today
start_date = pd.Timestamp("2018-08-04", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-08-04", tz="America/New_York").isoformat()

# Get 3 years worth of historical data for TSLA
ticker_data = api.get_bars(
    ticker,
    timeframe,
    start=start_date,
    end=end_date
).df

In [4]:
ticker_data.head()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2018-08-06 04:00:00+00:00,345.00,354.98,341.8200,341.99,8564349,94745,348.791044
2018-08-07 04:00:00+00:00,343.84,387.46,339.1501,379.57,30876809,332458,364.240162
2018-08-08 04:00:00+00:00,368.84,382.64,367.1200,370.34,24608013,278774,374.104677
2018-08-09 04:00:00+00:00,365.55,367.01,345.7300,352.45,17183938,195136,355.494616
2018-08-10 04:00:00+00:00,353.78,360.00,346.0000,355.49,11556348,119931,353.663867

In [5]:
# Reorganize the DataFrame
ticker_data = pd.concat([ticker_data], axis=1, keys=["TSLA"])

# Display sample data
ticker_data.head()

                             TSLA                                      \
                             open    high       low   close    volume
timestamp
2018-08-06 04:00:00+00:00  345.00  354.98  341.8200  341.99   8564349
2018-08-07 04:00:00+00:00  343.84  387.46  339.1501  379.57  30876809
2018-08-08 04:00:00+00:00  368.84  382.64  367.1200  370.34  24608013
2018-08-09 04:00:00+00:00  365.55  367.01  345.7300  352.45  17183938
2018-08-10 04:00:00+00:00  353.78  360.00  346.0000  355.49  11556348


                          trade_count        vwap
timestamp
2018-08-06 04:00:00+00:00       94745  348.791044
2018-08-07 04:00:00+00:00      332458  364.240162
2018-08-08 04:00:00+00:00      278774  374.104677
2018-08-09 04:00:00+00:00      195136  355.494616
2018-08-10 04:00:00+00:00      119931  353.663867

### Run the Monte Carlo Simulation

In [8]:
# Set number of simulations
num_sims = 1000

# Configure a Monte Carlo simulation to forecast three years daily returns
MC_TSLA = MCSimulation(
    portfolio_data = ticker_data,
    num_simulation = num_sims,
    num_trading_days = 252*3
)

In [9]:
# Run Monte Carlo simulations to forecast three years daily returns
MC_TSLA.calc_cumulative_return()

Running Monte Carlo simulation number 0.
Running Monte Carlo simulation number 10.
Running Monte Carlo simulation number 20.
Running Monte Carlo simulation number 30.
Running Monte Carlo simulation number 40.
Running Monte Carlo simulation number 50.
Running Monte Carlo simulation number 60.
Running Monte Carlo simulation number 70.
Running Monte Carlo simulation number 80.
Running Monte Carlo simulation number 90.
Running Monte Carlo simulation number 100.
Running Monte Carlo simulation number 110.
Running Monte Carlo simulation number 120.
Running Monte Carlo simulation number 130.
Running Monte Carlo simulation number 140.
Running Monte Carlo simulation number 150.
Running Monte Carlo simulation number 160.
Running Monte Carlo simulation number 170.
Running Monte Carlo simulation number 180.
Running Monte Carlo simulation number 190.
Running Monte Carlo simulation number 200.
Running Monte Carlo simulation number 210.
Running Monte Carlo simulation number 220.
Running Monte Carlo simulation number 230.
Running Monte Carlo simulation number 240.
Running Monte Carlo simulation number 250.
Running Monte Carlo simulation number 260.
Running Monte Carlo simulation number 270.
Running Monte Carlo simulation number 280.
Running Monte Carlo simulation number 290.
Running Monte Carlo simulation number 300.
Running Monte Carlo simulation number 310.
Running Monte Carlo simulation number 320.
Running Monte Carlo simulation number 330.
Running Monte Carlo simulation number 340.
Running Monte Carlo simulation number 350.
Running Monte Carlo simulation number 360.
Running Monte Carlo simulation number 370.
Running Monte Carlo simulation number 380.
Running Monte Carlo simulation number 390.
Running Monte Carlo simulation number 400.
Running Monte Carlo simulation number 410.
Running Monte Carlo simulation number 420.
Running Monte Carlo simulation number 430.
Running Monte Carlo simulation number 440.
Running Monte Carlo simulation number 450.
Running Monte Carlo simulation number 460.
Running Monte Carlo simulation number 470.
Running Monte Carlo simulation number 480.
Running Monte Carlo simulation number 490.
Running Monte Carlo simulation number 500.
Running Monte Carlo simulation number 510.
Running Monte Carlo simulation number 520.
Running Monte Carlo simulation number 530.
Running Monte Carlo simulation number 540.
Running Monte Carlo simulation number 550.
Running Monte Carlo simulation number 560.
Running Monte Carlo simulation number 570.
Running Monte Carlo simulation number 580.
Running Monte Carlo simulation number 590.
Running Monte Carlo simulation number 600.
Running Monte Carlo simulation number 610.
Running Monte Carlo simulation number 620.
Running Monte Carlo simulation number 630.
Running Monte Carlo simulation number 640.
Running Monte Carlo simulation number 650.
Running Monte Carlo simulation number 660.
Running Monte Carlo simulation number 670.
Running Monte Carlo simulation number 680.
Running Monte Carlo simulation number 690.
Running Monte Carlo simulation number 700.
Running Monte Carlo simulation number 710.
Running Monte Carlo simulation number 720.
Running Monte Carlo simulation number 730.
Running Monte Carlo simulation number 740.
Running Monte Carlo simulation number 750.
Running Monte Carlo simulation number 760.
Running Monte Carlo simulation number 770.
Running Monte Carlo simulation number 780.
Running Monte Carlo simulation number 790.
Running Monte Carlo simulation number 800.
Running Monte Carlo simulation number 810.
Running Monte Carlo simulation number 820.
Running Monte Carlo simulation number 830.
Running Monte Carlo simulation number 840.
Running Monte Carlo simulation number 850.
Running Monte Carlo simulation number 860.
Running Monte Carlo simulation number 870.
Running Monte Carlo simulation number 880.
Running Monte Carlo simulation number 890.
Running Monte Carlo simulation number 900.
Running Monte Carlo simulation number 910.
Running Monte Carlo simulation number 920.
Running Monte Carlo simulation number 930.
Running Monte Carlo simulation number 940.
Running Monte Carlo simulation number 950.
Running Monte Carlo simulation number 960.
Running Monte Carlo simulation number 970.
Running Monte Carlo simulation number 980.
Running Monte Carlo simulation number 990.

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,0.930760,1.041443,0.997187,0.986560,1.060384,1.000221,1.052442,1.044598,1.073326,0.910563,...,0.953234,0.902547,1.097453,0.927373,0.974675,1.047807,0.995512,1.028251,1.060869,0.982891
2,0.976922,1.072144,1.062054,0.985005,1.002805,0.923582,0.967227,1.062284,1.123238,0.928251,...,0.947361,0.847063,1.139385,0.874157,0.944954,1.059774,1.028457,0.956371,1.156931,0.952612
3,0.989575,1.068579,1.158555,1.072360,1.012220,0.829799,0.943958,1.092163,1.124692,0.966492,...,0.978774,0.845958,1.183378,0.878113,0.897569,0.973971,1.051206,0.891889,1.184858,0.943086
4,1.093161,1.013440,1.064638,1.016484,1.001598,0.794454,0.975825,1.102019,1.131178,1.031046,...,0.977462,0.803063,1.175686,0.810888,0.928361,0.975855,1.091258,0.900407,1.220278,0.875229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,4.552889,0.541879,5.031225,5.566214,0.715984,7.925088,4.348801,3.234870,9.564996,0.247471,...,2.329971,3.621557,8.000583,14.511476,0.885223,0.520351,0.401342,1.277913,6.253738,1.326395
753,4.462002,0.541097,4.890116,5.220924,0.770104,7.670207,4.681589,3.072675,9.783321,0.254344,...,2.448391,3.563405,8.265592,13.755211,0.903507,0.498686,0.386968,1.286437,5.793441,1.390677
754,4.319779,0.494243,5.221993,5.096471,0.875292,7.841330,4.720514,3.190309,8.221285,0.254360,...,2.466251,3.584845,8.614164,13.596746,0.897728,0.520867,0.388066,1.346495,5.620724,1.354438
755,4.560111,0.518318,4.906926,4.873085,0.884021,7.550941,4.698324,3.592599,7.616063,0.270880,...,2.221104,3.962265,8.265725,12.996897,0.819210,0.542015,0.400068,1.424500,5.970834,1.302144
756,4.641109,0.516225,4.909577,5.268297,0.865130,7.389806,4.701014,3.724222,7.023349,0.251934,...,2.206328,3.936188,8.968686,13.183211,0.846878,0.579868,0.381382,1.468548,6.021828,1.299052

### With these results, create a DataFrame which holds the mean, median, minimum, and maximum simulated performance.

In [ ]:
# Compute summary statistics from the simulated daily returns
# YOUR CODE HERE!

# Create a DataFrame with the summary statistics
# YOUR CODE HERE!

# Display sample data
# YOUR CODE HERE!

### Plot the Simulated Cumulative Return Trajectory for `TSLA` over the Next Three Years (252*3 Trading Days)

#### Use just the `mean` and `median` forecasts.

In [ ]:
# Use the `plot` function to visually analyze TSLA cumulative returns over the next three hears
# (Plot both mean and median forecasted cumulative return)
# YOUR CODE HERE!

### Calculate the Simulated Profits/Losses of $10,000 Investment in `TSLA` Over the Next Three Years

In [ ]:
# Set initial investment
initial_investment = 10000

# Multiply an initial investment by the daily returns of simulative stock prices to return the progression of daily returns in terms of money
# YOUR CODE HERE!

# Display sample data
cumulative_pnl.head()

### Plot the Simulated Profits/Losses of $10,000 Investment in `TSLA` Over the Next `252` Trading Days

In [ ]:
# Use the 'plot' function to create a chart of the simulated profits/losses
# YOUR CODE HERE!

### Calculate the range of the possible outcomes of our $10,000 investments in `TSLA` stocks

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# Hint: Use the `summarize_cumulative_return` function
tbl = MC_TSLA.summarize_cumulative_return()

# Print summary statistics
print(tbl)

In [ ]:
# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $10,000 investments in TSLA stocks
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of $10,000 in the portfolio"
      f" over the next year will end within in the range of"
      f" ${ci_lower} and ${ci_upper}.")