In [1]:
# Creates a variable with a string "Frankfurter"
title = "Frankfurter"
years = 23
hourly_wage = 65.40
expert_status = True

In [4]:
# Print the variables
print(title)
print(years)
print(hourly_wage)
print(expert_status)

Frankfurter
23
65.4
True

In [5]:
# Prints the data type of each declared variable
print("The data type of variable title is", type(title))
print("The data type of variable title is", type(years))
print("The data type of variable title is", type(hourly_wage))
print("The data type of variable title is", type(expert_status))

The data type of variable title is <class 'str'>
The data type of variable title is <class 'int'>
The data type of variable title is <class 'float'>
The data type of variable title is <class 'bool'>

In [7]:
# Using variable names in calculations
total_miles = 257
gallons_gas = 7.2
miles_per_gallon = total_miles / gallons_gas
print(miles_per_gallon)

35.69444444444444

In [8]:
# Updating variables using assignment
miles = 48
kilometers = 0.621371 * miles
print(kilometers)

29.825808000000002

In [9]:
# Substituting/formatting variable
message = f"The total kilometers driven was: {kilometers}"
print(message)

The total kilometers driven was: 29.825808000000002

In [11]:
# Variable naming conventions
# Bad Example
mpg = 24

In [10]:
# Better Example
miles_per_gallon = 24